/.idea/
*/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Spring Boot build directories
target/
build/

# Maven specific files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Java specific files
*.class
*.jar
*.war
*.ear

# Other
*.swp
*~